	</section>
	
	<footer>
		<br>
		<p>Copy Right by @Xiaohui Ni</p>
	</footer>

	<!-- ECharts单文件引入 -->
	<!-- <script src="http://echarts.baidu.com/build/dist/echarts.js"></script> -->
	<script src="javascripts/echarts.js"></script>
	<script src="javascripts/charts_custom.js"></script>

</body>
</html>