<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	
	<a class="btn btn-success" href="/strategy">login</a>
<!-- 	<img src="http://image.sinajs.cn/newchart/min/n/sh000001.gif" alt=""> -->

<!-- 	<div id="flashOK">
		<div class="flash">
			<div id="flash">
				<object type="application/x-shockwave-flash" data="http://finance.sina.com.cn/flash/cn.swf?" width="560" height="490" id="flash" style="visibility: visible;">
					<param name="allowFullScreen" value="true">
					<param name="allowScriptAccess" value="always">
					<param name="wmode" value="transparent">
					<param name="flashvars" value="symbol=sh000001&amp;code=iu&amp;s=3">
				</object>
			</div>
		</div>
	</div> -->

</body>
</html>
