body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: white;
	background: rgba(0,36,54,1);
}

a {
	color: #00B7FF;
}

header {
	background: rgba(14,82,116,1);
	border-bottom-color: rgb(4,72,106);
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 20;
}

section {
	margin: 80px 0;
}

footer>p {
	text-align: center;
}

footer {
	width: 100%;
	Height: 100px;
	background: rgba(14,82,116,1);
}

nav>a {
	padding: 20px;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

nav>a:hover {
	background: rgba(255,255,255, 0.3);
	color: white;
	cursor: pointer;
}

.panel {
	background-color: transparent;
	border-color: transparent;
}

.table-1 tr:first-child th:first-child{
		border-top-left-radius: 5px;
}

.table-1 tr:first-child th:last-child{
		border-top-right-radius: 5px;
}

.table-1 tr:first-child {
	background: rgb(14,82,116);
}

.table-1 {
	width: 95%;
	margin-top: 10px;
	margin-bottom: 20px;
}

.table-1 tr {
	border-bottom: 1px solid rgba(14,82,116,1);
}

.table-1 td, .table-1 th {
	padding: 10px 5px;
	text-align: center;
}

.table-1 tr:hover {
	background-color: rgba(46,213,227,0.8);
	cursor: pointer;
}

h1 {
	margin-top: 10px;
	margin-bottom: 30px;
}

.table-2 {
	margin: 10px center;
	width: 95%;
}

.table-2 td {
	padding: 5px;
}

#id {
	font-size: 20px;
	padding: 0;
	vertical-align: bottom;
	text-align: center;
}

#name {
	font-size: 30px;
	color: #ddb13d;
	text-align: center;
	padding: 5px;
}

#price {
	font-size: 30px;
	vertical-align: bottom;
	text-align: center;
}

#rate {
	padding: 0;
	vertical-align: top;
	text-align: center;
}

#volume {

}

#amount {

}

#date {
	color: yellow;
	text-align: center;
}

.table-2 tr:first-child td:nth-child(3) {
	text-align: right;
}
.table-2 tr:nth-child(2) td:nth-child(2) {
	text-align: right;
}
.table-2 tr:last-child td:nth-child(2){
	text-align: right;
}